numpy==1.26.4
opencv-python-headless
opencv-contrib-python-headless
mediapipe==0.10.14
fastapi
uvicorn[standard]
websockets
keras>=3.3.0
jax>=0.6.2
jaxlib>=0.6.2
azure-cognitiveservices-speech
python-dotenv